.container {
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  z-index: 1400;
  background: var(--white-light-color);
  width: 30%;

  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  width: 370px;
  height: 560px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}
.container.show {
  animation-delay: 0.5s;
  animation: come-chat 0.7s 1;
  visibility: visible;
}
.container.hide {
  transform: translateY(110%);
  animation: remove-chat 0.7s 1;
  visibility: hidden;
}
@keyframes come-chat {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes remove-chat {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    transform: translateY(110%);
    visibility: hidden;
  }
}

.bot-icon {
  text-align: center;
  position: fixed;
  right: 2.5%;
  bottom: 4%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1500;
}

.bot-icon:hover {
  animation-play-state: paused;
}
.bot-icon.hide {
  transform: translateY(100px);
  animation: remove 0.5s 1;
  visibility: hidden;
}
.bot-icon.show {
  animation-delay: 0.7s;
  animation: come 0.5s, zoom-in-zoom-out 2s 0.5s infinite;
  visibility: visible;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes remove {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    transform: translateY(100px);
    visibility: hidden;
  }
}
@keyframes come {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}
.header {
  cursor: pointer;
  padding: 0.8rem 1rem 1.3rem 1rem;
  display: flex;
  background: var(--white-color);
  width: 100%;
  border-radius: 10px;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--dark-color);
}
.header h3 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.header p {
  color: #aaa;
}
.title {
  margin-left: 1rem;
}
.cross {
  margin-left: auto;
}
.chatBotChat {
  padding: 1rem;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  overscroll-behavior-y: contain;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--white-color);
  margin-bottom: 1rem;
}
.input-container > input {
  flex: 1;
  padding: 0.5rem 0;
  font-size: 1rem;
  border: none;
  outline: none;
}
.left {
  align-self: flex-start;
  text-align: left;
}
.right {
  align-self: flex-end;
  text-align: right;
}
.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.avatar > p {
  font-size: 0.8rem;
  font-weight: 400;
}
.chat-left {
  background: var(--white-color);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 15px 15px 15px 0px;
  width: fit-content;
  margin-right: auto;
  font-size: 0.9rem;
}

.chat-right {
  background: blue;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0px 15px 15px 15px;
  font-size: 0.9rem;
}
.sending {
  cursor: pointer;
}
.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--dark-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
