.container {
  min-width: 80vw;
  max-width: 90vw;
}
.heading {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: var(--yellow-color);
  font-weight: 600;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  width: -webkit-fill-available;
}
.boxVisible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  width: -webkit-fill-available;
  animation-name: my-animation;
  animation-duration: var(--time-animation);
  animation-iteration-count: 1;
}
@keyframes my-animation {
  0% {
    transform: translateX(var(--transform-translateXR));
  }
  100% {
    transform: translateX(0);
  }
}
.containerItem {
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 5rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  border-left: 2px solid var(--yellow-color);
  border-top: 2px solid var(--yellow-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 3px 4px 5px rgba(81, 67, 21, 0.8);
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  .box {
    justify-content: center;
  }
}
