.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 90vh;
  padding-top: 2rem;
}
.heading {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: var(--yellow-color);
  font-weight: 600;
}
