.container {
  width: 90vw;
}
.heading {
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: var(--yellow-color);
  font-weight: 600;
}
.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  box-sizing: border-box;
}
.containerItem {
  max-width: 400px;
  position: relative;
}
.top_vacationCard {
  overflow: hidden;
}
.top_vacationCard > img {
  object-fit: cover;
  cursor: pointer;
  transition: var(--hover-transition);
}
.top_vacationCard > img:hover {
  transform: rotateZ(5deg) scale(1.2);
}
.top_bottom_location {
  position: absolute;
  top: 91%;
  left: 5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.2rem;
}
.button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  z-index: 2;
  padding: 0.6rem 1.4rem;
  border-radius: 0.2rem;
  border-left: 2px solid var(--yellow-color);
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  background: var(--yellow-color);
  transform: scaleX(0);
  transform-origin: bottom;
  transition: var(--hover-transition);
  -webkit-transform: scaleX(0);
  -webkit-transform-origin: bottom;
  -webkit-transition: -webkit-transform 1.25s cubic-bezier(0.23, 1, 0.23, 1);
  z-index: -1;
}
.button:hover:before {
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
}
.button:hover {
  color: var(--white-color);
}
